<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - 3R</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="icon" type="image/png" href="~/images/logo-inmb.png" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/rivarola_riquelme_rastrilla.styles.css" asp-append-version="true" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet" />
    <style>
        /* Colores personalizados */
        :root {
            --rojo-principal: #E74C3C;
            --rojo-oscuro: #C0392B;
            --blanco: #FFFFFF;
            --gris-claro: #e2e2e2;
            --gris-oscuro: #7F8C8D;
            --negro: #000000;
        }

        body {
            background-color: var(--gris-claro);
            color: var(--gris-oscuro);
            font-family: Arial, sans-serif;
        }

        /* Navbar */
        .navbar {
            background-color: var(--blanco);
            border-bottom: 1px solid var(--gris-claro);
        }

        .navbar-brand {
            color: var(--negro) !important;
            font-weight: bold;
        }

        .navbar-brand img {
            max-height: 60px;
            margin-right: 5px;
            margin-left: 50%;
        }

        .navbar-nav {
            margin-left: 60px;
        }

        .navbar-nav .nav-link {
            color: var(--blanco) !important;
        }

        .btn-custom {
            background-color: var(--rojo-principal);
            color: var(--blanco);
            border-radius: 7px;
        }

        .btn-custom:hover {
            background-color: var(--rojo-oscuro);
            color: var(--blanco);
        }

        .ic-sz {
            font-size: 1.5em;
        }

        .ic-color {
            color: var(--rojo-oscuro);
        }
        .ic-color:hover {
            color: var(--rojo-principal);
        }

        .navbar .dropdown-menu {
        background-color: var(--rojo-principal);
        border: none;
        }
    
        .navbar .dropdown-menu a {
            color: var(--blanco) !important;
        }
    
        .navbar .dropdown-menu a:hover {
            background-color: var(--rojo-oscuro);
            color: var(--blanco) !important;
        }
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
                <a class="navbar-brand" href="@Url.Action("Index", "Home")">
                    <img src="/images/logo-inmobiliaria.png" alt="Logo">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0"> <!-- Movidos hacia la izquierda -->
                        <li class="nav-item">
                            <a class="nav-link btn btn-custom ms-2" href="@Url.Action("Index", "Inquilino")">Inquilinos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link btn btn-custom ms-2" href="@Url.Action("Index", "Propietarios")">Propietarios</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link btn btn-custom ms-2" href="@Url.Action("Index", "Inmueble")">Inmuebles</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link btn btn-custom ms-2" href="@Url.Action("Index", "Contrato")">Contratos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link btn btn-custom ms-2" href="@Url.Action("Index", "Pago")">Pagos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link btn btn-custom ms-2" href="@Url.Action("Index", "Tipo")">Tipos de Inmueble</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        @if (User.Identity.IsAuthenticated)
                        {
                            var avatar = User.Claims.FirstOrDefault(c => c.Type == "Avatar")?.Value;
                            var userId = User.Claims.FirstOrDefault(c => c.Type == "Id")?.Value;
                            var nombre = User.Claims.FirstOrDefault(c => c.Type == "Nombre")?.Value;
                            var apellido = User.Claims.FirstOrDefault(c => c.Type == "Apellido")?.Value;
                            <li class="nav-item dropdown" style="margin-right: 40px;">
                                <a style="padding: 1px;" class="nav-link dropdown-toggle text-center" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    <img src="@Url.Content(avatar)" alt="Avatar" class="avatar" style="width: 64px; height: 64px; border-radius: 50%;" />
                                    <span class="text-dark"><strong>@nombre @apellido</strong></span>
                                </a>
                                
                                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                    <li>
                                        <a class="dropdown-item" href="@Url.Action("Perfil", "Usuarios", new { id = userId })">
                                            <i class="fas fa-user"></i> Perfil
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="@Url.Action("Logout", "Usuarios")">
                                            <i class="fas fa-sign-out-alt"></i> Logout
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link btn btn-custom ms-2" href="@Url.Action("Login", "Usuarios")">Iniciar Sesión</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main role="main" class="container my-4">
        @RenderBody()
    </main>
    
    <footer class="footer mt-auto py-3 bg-light">
        <div class="container">
            <p class="text-center">&copy; @DateTime.Now.Year - 3R Inmobiliaria</p>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
