@model IEnumerable<rivarola_riquelme_rastrilla.Models.Pago>

@{
    ViewData["Title"] = "Pagos";
}

<div>
    <h1 class="display-5">Lista de Pagos</h1>
</div>

<p>
    <a asp-action="Crear" class="btn btn-custom">Agregar Pago</a>
</p>

<table class="table text-center">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Id)</th>
            <th>@Html.DisplayNameFor(model => model.Contrato_id)</th>
            <th>@Html.DisplayNameFor(model => model.Fecha_pago)</th>
            <th>@Html.DisplayNameFor(model => model.Detalle)</th>
            <th>@Html.DisplayNameFor(model => model.Importe)</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Id)</td>
                <td>@Html.DisplayFor(modelItem => item.Contrato_id)</td>
                <td>@Html.DisplayFor(modelItem => item.Fecha_pago)</td>
                <td>@Html.DisplayFor(modelItem => item.Detalle)</td>
                <td>@Html.DisplayFor(modelItem => item.Importe)</td>
                <td>
                    <a href="/Pago/Delete/@item.Id" class="me-2" ><i class="fa-solid fa-trash ic-sz ic-color"></i></a>
                    <a href="/Pago/Edit/@item.Id" class="me-2"><i class="fa-solid fa-pencil ic-sz ic-color"></i></a>
                    <a href="/Pago/Details/@item.Id"><i class="fa-solid fa-circle-info ic-sz ic-color"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
