@model IEnumerable<rivarola_riquelme_rastrilla.Models.Inmueble>

@{
    ViewData["Title"] = "Inmuebles";
}

<div>
    <h1 class="display-4">Lista de Inmuebles</h1>
</div>

<p>
    <a asp-action="AltaInmueble" class="btn btn-custom">Agregar Inmueble</a>
</p>

<table class="table text-center">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Id)</th>
            <th>@Html.DisplayNameFor(model => model.Direccion)</th>
            <th>@Html.DisplayNameFor(model => model.Uso)</th>
            <th>@Html.DisplayNameFor(model => model.Tipo)</th>
            <th>@Html.DisplayNameFor(model => model.Ambientes)</th>
            <th>@Html.DisplayNameFor(model => model.Precio)</th>
            <th>@Html.DisplayNameFor(model => model.Propietario_dni)</th>
            <th>@Html.DisplayNameFor(model => model.Estado)</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Direccion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Uso)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tipo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ambientes)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Precio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Propietario_dni)
                </td>
                <td>
                    @if (item.Estado)
                    {
                        <a href="/Inmueble/Baja/@item.Id" class="btn btn-desactivar"></a>
                    }
                    else
                    {
                        <a href="/Inmueble/Activar/@item.Id" class="btn btn-activar"></a>
                    }
                </td>
                <td>
                    <a href="/Inmueble/Delete/@item.Id" class="me-2"><i class="fa-solid fa-trash ic-sz ic-color"></i></a>
                    <a href="/Inmueble/Editar/@item.Id" class="me-2"><i class="fa-solid fa-pencil ic-sz ic-color"></i></a>
                    <a href="/Inmueble/Details/@item.Id"><i class="fa-solid fa-circle-info ic-sz ic-color"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>

<style>
    .btn-desactivar {
        padding: 1.2rem 3.2rem;
        background-color: #C0392B;
        color: white;
        border-radius: 7px;
        position: relative;
        cursor: pointer;
        overflow: hidden;
    }

    .btn-desactivar::before {
        content: 'Disponible';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: transform 0.2s ease, opacity 0.2s ease;
        color: white;
    }

    .btn-desactivar::after {
        content: 'Desactivar';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0);
        transition: transform 0.2s ease, opacity 0.2s ease;
        color: white;
        opacity: 0;
    }

    .btn-desactivar:hover {
        background-color: #ff2c15;
    }

    .btn-desactivar:hover::before {
        transform: translate(-50%, -50%) scale(3);
        opacity: 0;
    }

    .btn-desactivar:hover::after {
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
    }


    .btn-activar {
        padding: 1.2rem 3.2rem;
        font-size: 1rem;
        background-color: #C0392B;
        color: white;
        border-radius: 7px;
        position: relative;
        cursor: pointer;
        overflow: hidden;
    }

    .btn-activar::before {
        content: 'No Disponible';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: transform 0.2s ease, opacity 0.2s ease;
        color: white;
    }

    .btn-activar::after {
        content: 'Activar';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0);
        transition: transform 0.2s ease, opacity 0.2s ease;
        color: white;
        opacity: 0;
    }

    .btn-activar:hover {
        background-color: #09ab03;
    }

    .btn-activar:hover::before {
        transform: translate(-50%, -50%) scale(3);
        opacity: 0;
    }

    .btn-activar:hover::after {
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
    }
</style>
