@model IEnumerable<rivarola_riquelme_rastrilla.Models.Inquilino>

@{
    ViewData["Title"] = "Listado de personas";
}

<div class="text-center">
    <div class="display-4">Lista de Inquilinos</div>
</div>

<h3>
    <a href="/Inquilino/AltaInquilino"  class="btn btn-custom">Agregar Inquilino</a>
</h3>
<table class="table text-center">
    <thead>
        <tr>
            <th>
                Dni
            </th>
            <th>
                Nombre
            </th>
            <th>
                Apellido
            </th>
            <th>
                Telefono
            </th>
            <th>
                Email
            </th>
            <th>
                Accion
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var Inquilino in Model)
        {
            <tr>
                <td>
                    @Inquilino.Dni
                </td>
                <td>
                    @Inquilino.Nombre
                </td>
                <td>
                    @Inquilino.Apellido
                </td>
                <td>
                    @Inquilino.Telefono
                </td>
                <td>
                    @Inquilino.Email
                </td>
                <td>
                    <a href="/Inquilino/Delete/@Inquilino.Dni" class="me-2" ><i class="fa-solid fa-trash ic-sz ic-color"></i></a>
                    <a href="/Inquilino/Editar/@Inquilino.Dni" class="me-2"><i class="fa-solid fa-pencil ic-sz ic-color"></i></a>
                    <a href="/Inquilino/Details/@Inquilino.Dni"><i class="fa-solid fa-circle-info ic-sz ic-color"></i></a>
                    @Html.ActionLink("Borrar", "Baja", new { dni = @Inquilino.Dni })
                </td>
            </tr>
        }
    </tbody>