@model rivarola_riquelme_rastrilla.Models.Contratos

@{
    ViewData["Title"] = "Detalles del Contrato";
}

<h2>Detalles del Contrato</h2>

<div>
    <h4>Contrato</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            DNI Inquilino
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Inquilino_dni)
        </dd>
        <dt class="col-sm-2">
            ID Inmueble
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Inmueble_id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Monto)
        </dt>
        <dd class="col-sm-10">
            $@Html.DisplayFor(model => model.Monto)
        </dd>
        <dt class="col-sm-2">
            Fecha de Inicio
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Fecha_inicio)
        </dd>
        <dt class="col-sm-2">
            Fecha de Finalización
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Fecha_fin)
        </dd>
    </dl>
    <div>
        <a href="@Url.Action("Editar", new { id = Model.Id })" class="btn btn-custom">Editar</a>
        <a href="@Url.Action("Index")" class="btn btn-secondary">Volver al Listado</a>
    </div>
</div>
